@charset "UTF-8";

/*
  Paleta de cores >
  azul: #2C4C59
  mostarda:#BD7928
  marrom: #4B3D32
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  background-color: #2c4c59;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

section#login {
  background-color: white;
  width: 280px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.367);
  transition: width .3s, hight .3s;
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: #214159 url(../imagens/tela-login.jpg) no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p{
  font-size: 0.8em;
}

form > div.campo {
  background-color: #2c4c59;
  border: 3px solid #2c4c59;
  display: block;
  height: 35px;
  border-radius: 8px;
  margin: 5px 0px;
}

div.campo > span {
  color: white;
  font-size: 2em;
  width: 40px;
}

div.campo > input {
  background-color: #5da3bf;
  font-size: 1em;
  width: calc(100% - 45px);
  height: 100%;
  border:0px;
  border-radius: 5px;
  transform: translateY(-11px);
}

div.campo > input:focus-within{
  background-color: white;
}
div.campo > label {
  display: none;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 35px;
  background-color: #fda943;
  color: white;
  border:none;
  border-radius: 5px;
  margin-top: 18px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color:#BD7928;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 35px;
  padding-top: 5px;
  margin-top: 4px;
  color: #9f6722;
  background-color: #fec57f;
  border: 1px solid #bd7928;
  border-radius: 5px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color: #487b8f;
  color: white;
}

form > a.botao > span {
  font-size: 0.8em;
}